.author{
    color: rgb(29, 5, 251);
    font-style: italic;
    font-size: 45px;
}
.intro{
    background-color: rgb(86, 112, 90);
    color: rgb(12, 11, 12);
}
body{
    font-size: 23px;
}
h1{
    color: red;
    font-style: italic;
}

